body{
  background-color: var(--bg-color1);
}
header {
  width: 100%;
  min-height: 80px;
  background-color: var(--main-color);
  color: var(--white);
}
.gnb-wrap {
  height: 100%;
  padding: 0 120px;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav h1 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: var(--size-18px);
  font-weight: var(--medium);
  text-transform: uppercase;
}
nav ul {
  display: flex;
  gap: 42px;
}
nav ul li a {
  display: block;
  line-height: 80px;
  font-size: var(--size-18px);
  font-weight: var(--medium);
  text-transform: uppercase;
}
.marqueeBox {
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid var(--line-color);
  white-space: nowrap;
  overflow: hidden;
}
.marqueeBox span {
  color: var(--main-color);
  font-size: var(--size-48px);
  font-weight: var(--medium);
  text-transform: uppercase;
}
.marquee {
  animation-name: moveText;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes moveText {
  0%{transform: translateX(0);}
  100%{transform: translateX(-100%);}

}
