body{
  background-color: var(--bg-color1);
}
header {
  width: 100%;
  height: 100px;
  background-color: var(--main-color);
}
.gnb-wrap {
  padding: 0 120px;
}
nav {
  display: flex;
  justify-content: space-between;
}
nav h1 {
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--size-28px);
  font-weight: var(--medium);
}
nav ul {
  display: flex;
  gap: 42px;
  color: var(--white);
  text-transform: uppercase;
  font-size: var(--size-28px);
  font-weight: var(--medium);
}

